<!DOCTYPE html>
<html lang={{locale}}>
<head>
    <title>Tiempito Weather App</title>
    <meta charset="utf-8" />
    <%= htmlWebpackPlugin.tags.headTags %>
    <style>{{>baseline}}</style>
    {{{styleTags}}}
    {{{scriptTags}}}
</head>
<body>
    <div id='root'>{{{body}}}</div>
    <script>
        window.__INITIAL_STATE__ = {{{initialState }}};
    </script>
</body>

</html>